@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-chivo-mono: "Chivo Mono", monospace;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-chivo-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.asciiEffect {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.selected-link.social-link {
    @apply italic;
}

.release {
    @apply border-gray-500;
    transition: 0.1s;
}

.release:hover {
    @apply border-white;

}

.selected-link.social-link::before {
    content: "> ";
    @apply not-italic;
    @apply font-bold;
    position: absolute;
    transform: translateX(-200%);
}

.selected-link.discog-link::before {
    content: "> ";
    @apply not-italic;
    @apply font-bold;
    position: absolute;
    transform: translateX(-200%);
}