@import "tailwindcss";

:root {
    --background: #010106;
    --foreground: #8d8a88;
    --accent: #19c628;
    --font-chivo-mono: "Chivo Mono", monospace;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --font-mono: var(--font-chivo-mono);

    --color-gray-900: #111111;
    --color-gray-950: #040404;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.asciiEffect {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.release {
    border-color: color-mix(in srgb, var(--foreground) 40%, transparent);
    transition: border-color 0.1s, color 0.1s;
}

.nav-link:hover .release,
.nav-link:focus-visible .release {
    border-color: var(--accent);
    color: var(--accent);
}

.nav-link {
    position: relative;
}

.nav-link:hover::before,
.nav-link:focus-visible::before {
    content: "> ";
    position: absolute;
    left: -1em;
    font-weight: 700;
    color: var(--accent);
}

.nav-link:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}

.nav-link:hover,
.nav-link:focus-visible {
    @apply italic;
}

blockquote {
    @apply italic;
}

blockquote::before{
    @apply text-center;
    content: "| ";
    @apply not-italic;
}


